/* div {
    height: 100px;
    width: 100px;
    background-color: green;
    border-width: 5px;
    border-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
} */
a{
    text-decoration: none;
    color:white;
    font-size: 10px;
    margin-right: 150px;
}
#amazon_div{
    background-color: black;
}
#amazon_logo{
    margin-left: 10px;
    color: #f08804;
    font-size: 20px;
}
input{
    color:black;
    margin-left: 120px;
}
button{
    background-color: #f08804;
}
#one{
    border:5px solid black;
    background-color: azure;
    height: 100px;
    width: 100px;
}
footer{
    margin-top: 200px;
    color: white;
    background-color: black;
    text-align: center;
}